html,
body {
    background-color: #0b2228;
    color: #37abc8;
    font-family: Open Sans, Helvetica Neue, Segoe UI, Ubuntu, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    max-width: 40em;
    margin: 0 auto;
    padding: 1em;
}

h1 {
    color: #e96c4c;
    font-weight: 300;
}

h6 {
    font-weight: 300;
}

a {
    color: #37abc8;
    outline: none;
}

a:hover {
    color: white;
}

li {
    list-style-type: circle;
}

figure {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    text-align: center;
}

figure img {
    max-width: 100%;
}

figcaption{
    font-size: smaller;
}

.header-logo {
    background-image: url(../images/darkreader-blog.svg);
    background-size: cover;
    display: inline-block;
    height: 8em;
    text-decoration: none;
    width: 32em;
}

.donate-button {
    display: inline-block;
    text-decoration: none;
    width: 100%;
}

.donate-button__text {
    visibility: hidden;
}

.donate-button__image {
    display: inline-block;
    max-width: 25em;
    width: 100%;
}

.donate-button__image__hover {
    opacity: 0;
    transition: opacity 500ms;
}

.donate-button__image:hover .donate-button__image__hover {
    opacity: 1;
}

::-moz-selection {
    background-color: #e96c4c;
    color: white;
}

::selection {
    background-color: #e96c4c;
    color: white;
}
