:root {
    --color-background: #000000;
    --color-control: #316e7d;
    --color-control-hover: #193945;
    --color-text: #656ee2;
    --color-text-highlight: white;
    --color-accent: #e9594c;
}

html {
    background-color: var(--color-background);
}

body {
    color: var(--color-text);
    font-family: system-ui;
    max-width: 42em;
    margin: 0 auto;
    padding: 1em
}

h1,
h2 {
    color: var(--color-accent);
}

h3 {
    margin-bottom: 0;
}

a {
    color: #53a1b3;
}

a:hover {
    color: var(--color-text-highlight);
}

::selection {
    background-color: var(--color-accent);
    color: var(--color-text-highlight);
}

.banner__image {
    display: none;
    max-width: 32rem;
}

footer {
    font-size: 0.75rem;
    margin-top: 1rem;
}

.screenshot {
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem black;
    max-width: 100%;
    width: 24rem;
}

h2 {
    font-size: 1.25rem;
    text-align: center;
}

.name {
    font-size: 1.75rem;
    line-height: 1;
    position: relative;
    top: 0.25rem;
}

.title-darkreader {
    color: var(--color-accent);
    font-weight: 900;
    text-transform: uppercase;
}

.title-plus {
    color: white;
    font-weight: 100;
    text-shadow: 0 0 1rem var(--color-text), 0 0 0.5rem var(--color-text);
    text-transform: uppercase;
}

p {
    color: #7981e6;
    font-size: 1.08rem;
    line-height: 1;
    text-align: center;
}

.slogan {
    color: transparent;
    background-image: linear-gradient(to right, #e7573b, #af6ce9, #40a6e5);
    background-clip: text;
    font-size: 3rem;
    font-weight: 100;
    margin: 1rem;
    text-align: center;
}

.title {
    font-size: 2.2rem;
    text-align: center;
}