:root {
    --color-background: hsl(0, 0%, 0%);
    --color-control: hsl(214, 39%, 30%);
    --color-control-hover: hsl(196, 46%, 31%);
    --color-text: hsl(215, 44%, 54%);
    --color-text-highlight: #ffffff;
    --color-accent: hsl(5, 78%, 61%);
    --gradient-accent: linear-gradient(to right, hsl(9, 51%, 53%), hsl(354, 52%, 50%), hsl(214, 46%, 50%));
}

html {
    background-color: var(--color-background);
    color-scheme: dark;
    -webkit-tap-highlight-color: transparent;
}

body {
    color: var(--color-text);
    font-family: system-ui;
    margin: 0;
    padding: 0;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1,
h2 {
    color: var(--color-accent);
}

h3 {
    margin-bottom: 0;
}

a {
    color: #53a1b3;
}

a:hover {
    color: var(--color-text-highlight);
}

::selection {
    background-color: var(--color-accent);
    color: var(--color-text-highlight);
}

.banner__image {
    display: none;
    max-width: 32rem;
}

.screenshot {
    background-color: black;
    border-radius: 1.5rem;
    box-shadow: 0 0 0 1px #595959;
    margin: 1rem 0 0.75rem 0;
    max-width: 100%;
    padding: 1rem 0;
    width: 20rem;
}

h2 {
    font-size: 1.25rem;
    text-align: center;
}

.name {
    font-size: 1.75rem;
    line-height: 1;
    position: relative;
    top: 0.25rem;
}

.title {
    font-size: 2.15rem;
    margin: 0;
    text-align: center;
}

.title-darkreader {
    background-image: var(--gradient-accent);
    background-clip: text;
    color: transparent;
    font-weight: 900;
    text-transform: uppercase;
}

.title-plus {
    color: white;
    font-weight: 100;
    text-shadow:
        0 0 1rem var(--color-text),
        0 0 0.75rem var(--color-text),
        0 0 0.5rem var(--color-text),
        0 0 0.25rem var(--color-text);
    text-transform: uppercase;
}

.title-secondary {
    font-size: 2.15rem;
    margin: 0;
    text-align: center;
}

.title-secondary-text {
    background-image: var(--gradient-accent);
    background-clip: text;
    color: transparent;
    font-weight: 100;
}

p,
a,
a:visited {
    color: var(--color-text);
    font-size: 1rem;
    line-height: 1;
    margin: 0;
    text-align: center;
}

p,
footer {
    text-wrap: balance;
}

.slogan {
    background-image: var(--gradient-accent);
    background-clip: text;
    color: transparent;
    display: none;
    font-size: 2.5rem;
    font-weight: 100;
    margin: 0rem;
    text-align: center;
}

.description {
    font-size: 1.3rem;
}

.description-tier {
    margin: 0 auto;
    max-width: 32rem;
}

section {
    margin: 0;
    padding: 2rem 0;
}

section:nth-child(2) {
    background-color: hsl(212, 45%, 7%);
}

section:nth-child(3) {
    background-color: hsl(212, 45%, 10%);
}

section:nth-child(4) {
    background-color: hsl(212, 45%, 10%);
}

footer {
    background-color: hsl(212, 45%, 10%);
    color: color-mix(in srgb, hsl(212, 45%, 12%), var(--color-text));
    font-size: 0.75rem;
    padding: 0.75rem;
    text-align: center;
}

.carousel {
    margin: 1rem auto 0 auto;
    overflow: auto;
    padding-bottom: 1rem;
    scroll-snap-type: x mandatory;
    touch-action: pan-x;
    width: 20rem;
}

.carousel-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    touch-action: pan-x;
}

.carousel-screenshot {
    border: 1px solid rgb(49, 46, 58);
    border-radius: 1rem;
    box-shadow: inset 0 0 0 0.25rem black, 0 0 1rem black;
    display: inline-block;
    flex: none;
    width: 8rem;
}

.desktop-promo {
    max-width: 42em;
    padding-left: 2.5%;
    position: relative;
}

.desktop-promo-wrapper {
    position: relative;
}

.desktop-promo-image {
    width: 100%;
}

.desktop-promo-image:not(:first-child) {
    animation-duration: 7.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.desktop-promo-image:nth-child(2) {
    animation-name: promo-image-1;
}

.desktop-promo-image:nth-child(3) {
    animation-name: promo-image-2;
}

.desktop-promo-image:nth-child(4) {
    animation-name: promo-image-3;
}

.desktop-promo-image:nth-child(5) {
    animation-name: promo-image-4;
}

.edge-icon {
    background-image: url(/images/icon-edge-256x256.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -0.125rem;
    display: inline-block;
    height: 1rem;
    position: relative;
    width: 1rem;
}

@media (min-width: 45rem) {
    .title {
        font-size: 4rem;
    }

    .title-secondary {
        font-size: 3rem;
    }

    .description {
        font-size: 2rem;
    }

    .title-secondary + .description {
        font-size: 1.5rem;
    }

    .carousel {
        width: 100%;
    }

    .carousel-wrapper {
        justify-content: center;
    }
}

@keyframes promo-image-1 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    41% {
        opacity: 0;
    }
}

@keyframes promo-image-2 {
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    61% {
        opacity: 0;
    }
}

@keyframes promo-image-3 {
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    81% {
        opacity: 0;
    }
}

@keyframes promo-image-4 {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
