html,
body {
    background-color: #141e24;
    color: #53a1b3;
    font-family: Open Sans, Helvetica Neue, Segoe UI, Ubuntu, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    display: grid;
    gap: 0 1rem;
    grid:
        "header side" auto
        "inplace side" auto
        "content side" auto
        / auto 16rem;
    margin: 0 auto;
    max-width: 57rem;
    padding: 1rem;
    position: relative;
}

header {
    grid-area: header;
}

.help-header-logo {
    background-image: url(/images/darkreader-help.svg);
    background-size: cover;
    display: inline-block;
    height: 8rem;
    max-height: calc(25vw - 0.5rem);
    max-width: calc(100vw - 2rem);
    text-decoration: none;
    width: 32rem;
}

article {
    grid-area: content;
}

h1 {
    color: #e96c4c;
    font-weight: 300;
}

a {
    color: #53a1b3;
    outline: none;
    transition: color 125ms;
}

a:hover {
    color: white;
}

li {
    list-style-type: circle;
}

article img {
    box-shadow: 0 0.25rem 2.5rem rgba(0, 0, 0, 0.5);
    display: inline-block;
    max-width: 100%;
}

figure {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    text-align: center;
}

figcaption {
    font-size: smaller;
}

::-moz-selection {
    background-color: #e96c4c;
    color: white;
}

::selection {
    background-color: #e96c4c;
    color: white;
}

.rec-side {
    grid-area: side;
    margin-top: 1.25rem;
    position: fixed;
    right: calc(50% - 27.5rem);
    top: 0;
    width: 16rem;
}

.rec-heading {
    color: #e96c4c;
    margin: 0 0 1rem 0;
    -webkit-text-stroke: 0.0625rem;
    text-transform: uppercase;
}

.rec {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
}

.rec-logo-link {
    align-items: center;
    border-radius: 1.25rem;
    box-shadow: 0 0 0 0.0625rem hsla(0, 0%, 100%, 0), 0 0 0 #53a1b3;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 250ms;
    width: 100%;
}

.rec-logo-link:hover {
    box-shadow: 0 0 0 0.0625rem hsla(0, 0%, 100%, 1), 0 0 0.75rem #53a1b3;
}

.rec-logo-link-image {
    display: inline-block;
    width: 100%;
}

.rec-text-link {
    font-weight: bold;
    text-decoration: none;
    transition: color 250ms;
}

.rec-text-link:hover {
    color: white;
}

.rec-button-link {
    align-items: center;
    border-radius: 1.25rem;
    box-shadow: 0 0 0 0.0625rem hsla(0, 0%, 100%, 0), 0 0 0 #53a1b3;
    color: white;
    display: inline-flex;
    flex-direction: row;
    height: 2.5rem;
    justify-content: center;
    margin-top: 0.25rem;
    text-decoration: none;
    transition: box-shadow 250ms;
    width: 10rem;
}

.rec-button-link:hover {
    box-shadow: 0 0 0 0.0625rem hsla(0, 0%, 100%, 1), 0 0 0.75rem #53a1b3;
}

.rec-button-link-text {
    display: inline-block;
    font-weight: bold;
    font-size: 1.25rem;
    -webkit-text-stroke: 0.0625rem;
    text-transform: uppercase;
    transform: skewX(-10deg);
}

.hl {
    position: relative;
}

.hl-image {
    background-color: #f68623;
    background-image: url(/images/honey-logo-white.svg);
    background-position: 50% 52%;
    background-repeat: no-repeat;
    background-size: 10rem auto;
    height: 10.25rem;
    text-indent: -999rem;
    width: 16rem;
}

.hl-message {
    bottom: 0.25rem;
    color: white;
    display: inline-block;
    font-weight: 400;
    position: absolute;
    right: 0.5rem;
}

.hl-paypal {
    background-image: url(/images/paypal-logo-white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 1.2rem;
    text-indent: -999rem;
    transform: translate(-0.0625rem, 0.0625rem);
    width: 3.5rem;
}

.ht {
    color: #f68623;
}

.ht-usd {
    color: #53b378;
}

.hb {
    background-color: #f68623;
    width: 12.5rem;
}

.hb-icon {
    background-image: url(/images/icon-chrome-512x512.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 2rem;
    margin-right: 0.5rem;
    width: 2rem;
}

@-moz-document url-prefix() {
    .hb-icon {
        background-image: url(/images/icon-firefox-87x82.svg);
    }
}

.dl,
.dl:hover {
    box-shadow: none;
}

.dl-graph {
    width: 100%;
}

.db {
    background-color: #316d7c;
}

.rec-inplace {
    grid-area: inplace;
}

.rec-inplace-h {
    color: #e96c4c;
    font-weight: bold;
}

.h-in {
    align-items: stretch;
    border: 0.125rem solid #316d7c;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    max-width: 35.5rem;
}

.h-in-logo-link {
    background-color: #f68623;
    background-image: url(/images/honey-logo-white.svg);
    background-position: 50% 55%;
    background-repeat: no-repeat;
    background-size: 6rem auto;
    box-shadow: 0 0 0 0.0625rem hsla(0, 0%, 100%, 0), 0 0 0 #53a1b3;
    border-radius: 0.625rem;
    display: inline-block;
    flex: none;
    margin: 0.25rem 0 0.25rem 0.25rem;
    text-indent: -999rem;
    transition: box-shadow 250ms;
    width: 7.5rem;
}

.h-in-logo-link:hover {
    box-shadow: 0 0 0 0.0625rem hsla(0, 0%, 100%, 1), 0 0 0.75rem #53a1b3;
}

.h-in-text {
    flex: auto;
    padding: 1rem;
}

.h-in-link {
    color: #e96c4c;
    font-weight: bold;
}

.h-in-header {
    font-style: italic;
    max-width: 35.5rem;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 57rem) {
    body {
        gap: 0 1rem;
        grid:
            "header" auto
            "inplace" auto
            "content" auto
            "side" auto
            / auto;
        max-width: 40rem;
    }

    .rec-side {
        position: static;
        right: unset;
    }
}
