html,
body {
    background-color: #141e24;
    color: #53a1b3;
    font-family: Open Sans, Helvetica Neue, Segoe UI, Ubuntu, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    display: grid;
    gap: 0 1rem;
    grid:
        "header side" auto
        "inplace side" auto
        "content side" auto
        / auto 16rem;
    margin: 0 auto;
    max-width: 57rem;
    padding: 1rem;
    position: relative;
}

header {
    grid-area: header;
}

.help-header-logo {
    background-image: url(/images/darkreader-help.svg);
    background-size: cover;
    display: inline-block;
    height: 8rem;
    max-height: calc(25vw - 0.5rem);
    max-width: calc(100vw - 2rem);
    text-decoration: none;
    width: 32rem;
}

.locale-list {
    grid-area: content;
}

article {
    grid-area: content;
}

h1 {
    color: #e96c4c;
    font-weight: 300;
}

a {
    color: #53a1b3;
    outline: none;
    transition: color 125ms;
}

a:hover {
    color: white;
}

li {
    list-style-type: circle;
}

article img {
    box-shadow: 0 0.25rem 2.5rem rgba(0, 0, 0, 0.5);
    display: inline-block;
    max-width: 100%;
}

figure {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    text-align: center;
}

figcaption {
    font-size: smaller;
}

::-moz-selection {
    background-color: #e96c4c;
    color: white;
}

::selection {
    background-color: #e96c4c;
    color: white;
}

.rec-side {
    grid-area: side;
    margin-top: 1.25rem;
    position: fixed;
    right: calc(50% - 27.5rem);
    top: 0;
    width: 16rem;
}

.rec-inplace {
    grid-area: inplace;
}

@media screen and (max-width: 57rem) {
    body {
        gap: 0 1rem;
        grid:
            "header" auto
            "inplace" auto
            "content" auto
            "side" auto
            / auto;
        max-width: 40rem;
    }

    .rec-side {
        position: static;
        right: unset;
    }
}
