body {
    font-family: system-ui;
}

.title {
    font-size: 2.15rem;
    margin: 0;
    text-align: center;
}

.title-darkreader {
    font-weight: 900;
    text-transform: uppercase;
}

.description {
    font-size: 1.3rem;
}

p,
a {
    font-size: 1rem;
    line-height: 1;
    margin: 0;
    text-align: center;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 2rem 0;
}

footer {
    font-size: 0.75rem;
    margin: 0 auto;
    max-width: 28rem;
    padding: 0.75rem;
    text-align: center;
    text-wrap: balance;
}

@media (min-width: 45rem) {
    .title {
        font-size: 4rem;
    }

    .description {
        font-size: 2rem;
    }
}

form {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    gap: 0.5em;
    margin: 1rem auto;
    max-width: 24em;
    text-align: center;
}

button {
    background-color: var(--color-control);
    border: none;
    border-radius: 1.25em;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    height: 2.5em;
    margin: 0 auto;
    max-width: 16em;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

label {
    color: #98e487;
    display: inline-block;
    min-height: 2.5em;
}

.line {
    color: white;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.button-progress {
    background-color: color-mix(in srgb, var(--color-control), white 15%);
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 1000ms;
    width: 0%;
}

.button-text {
    align-items: center;
    display: inline-flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.button-loading {
    pointer-events: none;

    .button-progress {
        width: 75%;
    }
}

.button-success {
    background-color: #236f75;
}

.button-failure {
    background-color: #803449;
}
