.header-logo {
    background-image: url(/images/darkreader-birthday.svg);
    background-size: cover;
    display: inline-block;
    height: 8em;
    max-height: calc(25vw - 0.5rem);
    max-width: calc(100vw - 2rem);
    text-decoration: none;
    width: 32em;
}
