@import "./shared.css";
@import "./page-grid.css";
@import "./blog-shared.css";

.honey-logo-link {
    color: white;
    position: relative;
    text-decoration: none;
    width: 16rem;
}

.honey-logo-link-description {
    bottom: 0.25rem;
    position: absolute;
    right: 0.375rem;
}

.paypal {
    background-image: url(/images/paypal-logo-white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 1.2rem;
    text-indent: -999rem;
    transform: translate(-0.0625rem, 0.0625rem);
    width: 3.5rem;
}

article h6 {
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.read-next {
    align-items: center;
    display: grid;
    gap: 0.25rem;
    grid: "top top" auto
          "icon title" auto
          / min-content auto;
    margin: 0 0 2rem auto;
    max-width: 20rem;
}

.read-next__top {
    grid-area: top;
}

.read-next__top::after {
    content: "→";
}

.read-next__icon {
    background-image: linear-gradient(to bottom, var(--color-highlight), var(--color-text));
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    grid-area: icon;
    height: 2.5rem;
    width: 2.5rem;
}

.read-next__title {
    font-size: 1rem;
    grid-area: title;
}

.page-grid-left {
    display: none;
    grid-area: left;
    position: fixed;
    width: 16rem;
}

.page-grid-left > darkreader-ios-static {
    position: absolute;
    transform: translateY(10rem);
    transition: transform 500ms;
}

.page-grid-left > darkreader-ios-static.ios__show-up {
    transform: translateY(1.5rem);
}

.page-grid-left > darkreader-ios-static.ios__scroll-down {
    transform: translateY(0rem);
}

.page-grid-left > darkreader-ios-static.ios__scroll-up {
    transform: translateY(3.5rem);
}

@media screen and (min-width: 74rem) {
    .page-grid-body {
        grid:
            "left header side" auto
            "left inside side" auto
            "left content side" auto
            "left footer side" auto
            / 16rem auto 16rem;
        max-width: 74rem;
    }

    .page-grid-side {
        right: calc(50% - 37rem);
    }

    .page-grid-left {
        display: unset;
    }

    .list-copied {
        display: none;
    }

    .page-grid-ios {
        display: none;
    }
}

iframe {
    max-width: calc(100vw - 2rem);
}
