@import "./shared.css";
@import "./page-grid.css";
@import "./blog-shared.css";

.honey-logo-link {
    color: white;
    position: relative;
    text-decoration: none;
    width: 16rem;
}

.honey-logo-link-description {
    bottom: 0.25rem;
    position: absolute;
    right: 0.375rem;
}

.paypal {
    background-image: url(/images/paypal-logo-white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 1.2rem;
    text-indent: -999rem;
    transform: translate(-0.0625rem, 0.0625rem);
    width: 3.5rem;
}

article h6 {
    margin-bottom: 0;
    margin-top: 0.5rem;
}
