@import "./shared.css";
@import "./page-grid.css";
@import "./help-shared.css";

h2 {
    margin: 2rem 0 1rem 0;
}

.help-header-logo {
    text-indent: -999rem;
}

.intro::first-letter {
    font-size: 150%;
    font-weight: bold;
}

.page-grid-inside {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

/*
.page-grid-inside darkreader-pay-tiers {
    display: none;
}

.android .page-grid-inside darkreader-pay-tiers {
    display: block;
}
*/

.page-grid-inside darkreader-backers-header {
    display: none;
}

.android .page-grid-inside darkreader-backers-header,
.android darkreader-ios-static,
.android darkreader-ios-side,
.android darkreader-backers-top-short,
.android article darkreader-pay-tiers {
    display: none;
}

.page-grid-content darkreader-backers-header,
.page-grid-content darkreader-support-us {
    display: none;
}

.page-grid-ios {
    left: calc(50vw - 10rem);
}

.page-grid-left {
    display: none;
    grid-area: left;
    position: fixed;
    width: 16rem;
}

.page-grid-left > darkreader-ios-static {
    position: absolute;
    transform: translateY(10rem);
    transition: transform 500ms;
}

.page-grid-left > darkreader-ios-static.ios__show-up {
    transform: translateY(1.5rem);
}

.page-grid-left > darkreader-ios-static.ios__scroll-down {
    transform: translateY(0rem);
}

.page-grid-left > darkreader-ios-static.ios__scroll-up {
    transform: translateY(3.5rem);
}

article > h1:first-child {
    display: none;
}

.page-grid-inside darkreader-backers-top-short {
    margin-top: 1rem;
}

html[data-p="p"] darkreader-mobile-top-short {
    display: none;
}

html:not([data-p="p"]) darkreader-backers-top-short {
    display: none;
}

.android darkreader-mobile-top-short {
    display: none;
}

.page-grid-ios {
    display: none;
}

@media screen and (min-width: 74rem) {
    .page-grid-body {
        grid:
            "left header side" auto
            "left inside side" auto
            "left content side" auto
            "left footer side" auto
            / 16rem auto 16rem;
        max-width: 74rem;
    }

    .page-grid-side {
        right: calc(50% - 37rem);
    }

    .page-grid-left {
        display: unset;
    }

    .list-copied {
        display: none;
    }
}

@media screen and (min-width: 57rem) {
    .page-grid-side darkreader-backers-side {
        opacity: 0;
        pointer-events: none;
        transition: opacity 500ms;
    }
    
    .page-grid-side--visible darkreader-backers-side {
        opacity: 1;
        pointer-events: all;
    }
    
    .page-grid-side--visible::before darkreader-backers-side {
        background-color: var(--color-bg);
        content: "";
        height: 2rem;
        position: absolute;
        top: -2rem;
        width: 100%;
    }

    .page-grid-side darkreader-questions {
        opacity: 1;
        pointer-events: all;
        transition: opacity 500ms;
    }
    
    .page-grid-side--visible darkreader-questions {
        opacity: 0;
        pointer-events: none;
    }
}

.small-pie-logo {
    background-image: url(/images/pie-logo-white.svg), url(/images/pie-badge.svg);
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: 65% auto, contain;
    display: block;
    float: left;
    height: 4rem;
    margin-right: 1rem;
    position: relative;
    text-indent: -999rem;
    width: 4rem;
}

.small-pie-logo::after {
    background-image: url(/images/pie-logo-color.svg), url(/images/pie-badge-light.svg);
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: 65% auto, contain;
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: 250ms;
    width: 100%;
}

.small-pie-logo:hover::after {
    opacity: 1;
}

blockquote:has(.small-pie-logo) {
    min-height: 4rem;
}

html:not([data-p="p"]) .pie-help {
    display: none;
}

.pie-help {
    color: #baa2f0;
}

.pie-help a:not(:hover) {
    color: #baa2f0;
}

darkreader-questions {
    left: 0;
    position: absolute;
    top: 0;
    width: 16rem;
    z-index: -1;
}

.android darkreader-questions {
    display: none;
}

iframe {
    max-width: calc(100vw - 2rem);
}
