@import "./shared.css";
@import "./page-grid.css";
@import "./help-shared.css";

.help-header-logo {
    text-indent: -999rem;
}

.page-grid-inside {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.page-grid-inside darkreader-pay-tiers {
    display: none;
}

.android .page-grid-inside darkreader-pay-tiers {
    display: block;
}

.page-grid-inside darkreader-backers-header {
    display: none;
}

.android .page-grid-inside darkreader-backers-header,
.android darkreader-ios-static,
.android darkreader-ios-side {
    display: none;
}

.page-grid-ios {
    left: calc(50vw - 10rem);
}

.page-grid-left {
    display: none;
    grid-area: left;
    position: fixed;
    width: 16rem;
}

.page-grid-left > darkreader-ios-static {
    position: absolute;
    transform: translateY(10rem);
    transition: transform 500ms;
}

.page-grid-left > darkreader-ios-static.ios__show-up {
    transform: translateY(1.5rem);
}

.page-grid-left > darkreader-ios-static.ios__scroll-down {
    transform: translateY(0rem);
}

.page-grid-left > darkreader-ios-static.ios__scroll-up {
    transform: translateY(3.5rem);
}

article > h1:first-child {
    display: none;
}

@media screen and (min-width: 74rem) {
    .page-grid-body {
        grid:
            "left header side" auto
            "left inside side" auto
            "left content side" auto
            "left footer side" auto
            / 16rem auto 16rem;
        max-width: 74rem;
    }

    .page-grid-side {
        right: calc(50% - 37rem);
    }

    .page-grid-left {
        display: unset;
    }

    .list-copied {
        display: none;
    }

    .page-grid-ios {
        display: none;
    }
}

/*
.page-grid-side {
    display: none;
}

.page-grid-ios {
    bottom: unset;
    grid-area: side;
    left: unset;
    margin-top: 1.25rem;
    position: fixed;
    right: calc(50% - 28.5rem);
    top: 0;
    transform: unset;
    transition: unset;
    width: 16rem;
}

.page-grid-ios:hover {
    transform: unset;
}

@media screen and (max-width: 57rem) {
    .page-grid-ios {
        position: static;
        right: unset;
    }
}
*/
