@import "./shared.css";
@import "./page-grid.css";
@import "./help-shared.css";

.page-grid-ios {
    left: calc(50vw - 10rem);
}

/*
.page-grid-side {
    display: none;
}

.page-grid-ios {
    bottom: unset;
    grid-area: side;
    left: unset;
    margin-top: 1.25rem;
    position: fixed;
    right: calc(50% - 28.5rem);
    top: 0;
    transform: unset;
    transition: unset;
    width: 16rem;
}

.page-grid-ios:hover {
    transform: unset;
}

@media screen and (max-width: 57rem) {
    .page-grid-ios {
        position: static;
        right: unset;
    }
}
*/
