:root {
    --color-bg: #141e24;
    --color-hover: #193945;
    --color-control: #316d7c;
    --color-text: #53a1b3;
    --color-text-hover: white;
    --color-highlight: #e96c4c;
    --color-honey: #f68623;
    --color-toucan: #2b7670;
    --color-toucan-text: #3da097;
    --font-family: Open Sans, Helvetica Neue, Segoe UI, Ubuntu, sans-serif;
}

html,
body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-family);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1 {
    color: var(--color-highlight);
    font-weight: 300;
}

h6 {
    font-weight: 400;
}

a {
    color: var(--color-text);
    outline: none;
    transition: color 125ms;
    word-break: break-word;
}

a:hover {
    color: var(--color-text-hover);
}

li {
    list-style-type: circle;
}

::-moz-selection {
    background-color: var(--color-highlight);
    color: var(--color-text-hover);
}

::selection {
    background-color: var(--color-highlight);
    color: var(--color-text-hover);
}

article img,
figure img {
    box-shadow: 0 0.25rem 2.5rem rgba(0, 0, 0, 0.5);
    display: inline-block;
    max-width: 100%;
}

a:hover img {
    filter: brightness(1.05);
}

figure {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    text-align: center;
}

figcaption {
    font-size: smaller;
}

video {
    cursor: pointer;
}

.no-shadow {
    box-shadow: unset;
}

.text-highlight {
    color: var(--color-highlight);
}
