html,
body {
    background-color: #141e24;
    color: #53a1b3;
    font-family: Open Sans, Helvetica Neue, Segoe UI, Ubuntu, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    padding: 1em;
}

header,
nav,
main {
    max-width: 40em;
    margin: 0 auto;
}

h1 {
    color: #e96c4c;
    font-weight: 300;
}

h6 {
    font-weight: 400;
}

a {
    color: #53a1b3;
    outline: none;
    transition: color 125ms;
}

a:hover {
    color: white;
}

li {
    list-style-type: circle;
}

article > img {
    box-shadow: 0 0.25rem 2.5rem rgba(0, 0, 0, 0.5);
    display: inline-block;
    max-width: 100%;
}

figure {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    text-align: center;
}

figure img {
    max-width: 100%;
}

figure img:not(.no-shadow),
figure video:not(.no-shadow) {
    box-shadow: 0 0.25rem 2.5rem rgba(0, 0, 0, 0.5);
}

video {
    cursor: pointer;
}

figcaption {
    font-size: smaller;
}

.header-logo {
    background-image: url(/images/darkreader-blog.svg);
    background-size: cover;
    display: inline-block;
    height: 8em;
    text-decoration: none;
    width: 32em;
}

.header-logo--help {
    background-image: url(/images/darkreader-help.svg);
}

.text-highlight {
    color: #e96c4c;
}

a:hover img {
    filter: brightness(1.05);
}

.donate-button {
    display: inline-block;
    text-decoration: none;
    width: 100%;
}

.donate-button__text {
    visibility: hidden;
}

.donate-button__image {
    display: inline-block;
    max-width: 25em;
    width: 100%;
}

.donate-button__image__hover {
    opacity: 0;
    transition: opacity 500ms;
}

.donate-button__image:hover .donate-button__image__hover {
    opacity: 1;
}

.post-tile {
    background-color: #19394500;
    display: grid;
    grid:
        "preview headline" auto
        "preview date" 1fr
        / 8rem auto;
    grid-gap: 0.5rem;
    max-width: 32rem;
    padding: 1.5rem 1rem;
    text-decoration: none;
    transition: background-color 250ms, color 250ms;
}

.post-tile:hover {
    background-color: #193945ff;
}

.post-tile__preview {
    align-self: center;
    grid-area: preview;
    width: 100%;
}

.post-tile__headline {
    font-size: larger;
    font-weight: bold;
    grid-area: headline;
    text-decoration: underline;
}

.post-tile__date {
    font-size: smaller;
    grid-area: date;
    text-decoration: none;
}

::-moz-selection {
    background-color: #e96c4c;
    color: white;
}

::selection {
    background-color: #e96c4c;
    color: white;
}
