@import "styles/shared.css";
@import "styles/page-grid.css";

header {
    text-align: center;
}

.main-logo {
    background-image: url(/images/darkreader-main.svg);
    background-size: cover;
    display: inline-block;
    height: 8rem;
    margin-left: -0.5rem;
    max-height: calc(25vw - 0.5rem);
    max-width: calc(100vw - 2rem);
    text-decoration: none;
    text-indent: -999rem;
    width: 32rem;
}

nav {
    margin-top: 0.5rem;
    text-align: center;
}

nav a {
    border-bottom: 0.0625rem solid #ffffff00;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 1rem;
    text-decoration: none;
    transition: all 125ms;
    white-space: nowrap;
}

nav a:hover {
    border-bottom-color: var(--color-text-hover);
}

.install-links {
    display: grid;
    gap: 1rem 0;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    justify-items: center;
    min-width: 16rem;
    padding: 0;
}

.install-links li {
    list-style-type: none;
}

.install-link {
    align-items: center;
    border: 0.0625rem solid var(--color-control);
    border-radius: 1.5rem;
    box-shadow: 0 0 0rem var(--color-text);
    box-sizing: border-box;
    color: white;
    display: inline-flex;
    flex-direction: row;
    height: 3.125rem;
    justify-content: center;
    min-width: 16rem;
    padding: 0.5rem;
    text-decoration: none;
    transition: all 250ms;
}

.install-link:hover {
    border-color: white;
    box-shadow: 0 0 0.5rem var(--color-text);
}

.install-link__icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.install-link__text {
    color: var(--color-text);
    display: inline-block;
    margin: 0 0.5rem;
}

.install-link__text strong {
    color: var(--color-text-hover);
}

.icon--chrome {
    background-image: url(images/icon-chrome-512x512.svg);
    background-size: 90%;
}

.icon--firefox {
    background-image: url(images/icon-firefox-87x82.svg);
}

.icon--safari {
    background-image: url(images/icon-safari-66x66.svg);
}

.icon--edge {
    background-image: url(images/icon-edge-256x256.svg);
    background-size: 90%;
}

.icon--github {
    background-image: url(images/icon-github-white-420x420.png);
    background-size: 125%;
}

.screenshot {
    border-radius: 1rem;
    box-shadow: 0 0 2rem black;
    display: inline-block;
    max-width: 100%;
    text-align: center;
}

.copyright-text {
    font-weight: 300;
    margin-top: 1.5rem;
    text-align: center;
}
