html {
    --color-bg: #141e24;
    --color-hover: #193945;
    --color-control: #316d7c;
    --color-text: #53a1b3;
    --color-text-hover: white;
    --color-highlight: #e96c4c;
    --color-honey: #f68623;
    --font: Segoe UI, Helvetica Neue, Open Sans, sans-serif;
    color-scheme: dark;
}

html {
    background-color: var(--color-bg);
}

html,
body {
    color: var(--color-text);
    font-family: var(--font);
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    padding: 1rem 0;
}

section {
    margin: 0 auto;
    max-width: 27.5rem;
}

.uninstalled {
    border-radius: 1rem;
    box-sizing: border-box;
    display: grid;
    gap: 0 0.5rem;
    grid: "icon message" auto "icon feedback" auto / auto auto;
    justify-content: center;
    padding: 1rem;
}

.uninstalled__message {
    align-items: center;
    color: var(--color-highlight);
    display: inline-flex;
    font-weight: bold;
    grid-area: message;
}

.icon {
    background-image: url(/images/icon-256.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    grid-area: icon;
    height: 3rem;
    position: relative;
    top: -0.25rem;
    width: 3rem;
}

.feedback-link {
    color: var(--color-text);
    font-weight: 700;
    grid-area: feedback;
    transition: color 250ms;
}

.feedback-link:hover {
    color: var(--color-text-hover);
}

.recommendations {
    background-color: var(--color-bg-panel);
    border-radius: 2rem;
    padding: 1rem 2rem 1.5rem 2rem;
}

.message {
    display: none;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}

.ext {
    display: grid;
    gap: 1rem;
    grid: "icon mid" min-content
          "desc desc" auto
          / min-content auto;
    margin-top: 1rem;
}

.ext + .ext {
    border-top: 1px solid var(--color-border);
    padding-top: 1rem;
}

.ext__icon {
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    grid-area: icon;
    height: 8rem;
    width: 8rem;
}

.h-icon {
    background-color: #f68623;
    background-image: url(/images/honey-icon-white.svg);
    background-size: 70%;
}

.t-icon {
    background-color: #0a4730;
    background-image: url(/images/toucan-icon-256.png);
    background-size: 100%;
}

.ext__mid {
    grid-area: mid;
}

.ext__name {
    font-size: 1.5rem;
    font-weight: bold;
}

.h-ext .ext__name {
    color: var(--color-honey);
}

.ext__rating__stars {
    color: #fc2;
}

.ext__install {
    align-items: center;
    background-color: var(--color-control);
    border-radius: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0 0 0 0.0625rem hsla(0, 0%, 100%, 0), 0 0 0 var(--color-text);
    color: white;
    display: inline-flex;
    font-weight: bold;
    height: 2.5rem;
    gap: 0.5rem;
    justify-content: center;
    line-height: 2.5rem;
    margin-top: 0.5rem;
    padding: 0 1rem;
    text-decoration: none;
    transition: box-shadow 250ms;
}

.ext__install:hover {
    box-shadow: 0 0 0 0.0625rem hsla(0, 0%, 100%, 1), 0 0 0.75rem var(--color-text);
}

.ext__install::before {
    background-image: url(/images/icon-chrome-512x512.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 1.75rem;
    width: 1.75rem;
}

.ext__install--chrome::before {
    background-image: url(/images/icon-chrome-512x512.svg);
    content: "";
}

.ext__install--edge::before {
    background-image: url(/images/icon-edge-256x256.svg);
    content: "";
}

.ext__install--firefox::before {
    background-image: url(/images/icon-firefox-87x82.svg);
    content: "";
}

.ext__install--safari::before {
    background-image: url(/images/icon-safari-66x66.svg);
    content: "";
}

.ext__learn-more {
    color: var(--color-honey);
    font-weight: bold;
    transition: color 250ms;
}

.ext__learn-more:hover {
    color: var(--color-text-hover);
}

.ext__description {
    grid-area: desc;
}

.recommendations {
    margin-top: 0;
}

.pp-ext__name {
    font-style: italic;
    font-weight: 300;
}

body:not(.c-h) .h-ext {
    display: none;
}

.t-ext {
    display: none;
}
