html {
    --color-bg: white;
    --color-bg2: #eee;
    --color-text: black;
    --color-text2: rgb(71, 74, 80);
    --color-text3: rgb(150, 160, 165);
    --color-ok-bg: #b5f7b8;
    --color-ok-text: #265a40;
    --color-ok-border: #52b944;
    --color-link: #0746bb;
    --font: Segoe UI, Helvetica Neue, Open Sans, sans-serif;
}

@media (prefers-color-scheme: dark) {
    html {
        --color-bg: #181c1f;
        --color-bg2: #3e4549;
        --color-text: #dae3e7;
        --color-text2: #8898a5;
        --color-text3: #5f707e;
        --color-ok-bg: #2e563f;
        --color-ok-text: #7ae391;
        --color-ok-border: #148657;
        --color-link: #50a2ff;
    }
}

html,
body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font);
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    padding: 1rem 0;
}

aside {
    border-top: 1px solid var(--color-bg2);
}

section {
    margin: 0 auto;
    max-width: 32rem;
}

.uninstalled {
    background-color: var(--color-ok-bg);
    border: 1px solid var(--color-ok-border);
    border-radius: 1rem;
    box-sizing: border-box;
    color: var(--color-ok-text);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.feedback-link {
    color: var(--color-text);
    font-weight: 700;
    text-decoration: none;
}

.feedback-link:hover {
    text-decoration: underline;
}

.recommendations {
    margin-top: 1rem;
}

.message {
    color: var(--color-text2);
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}

.ext {
    display: grid;
    gap: 1rem;
    grid: "icon mid" min-content
          "desc desc" auto
          / min-content auto;
    margin-top: 1rem;
}

.ext + .ext {
    border-top: 1px solid var(--color-bg2);
    padding-top: 1rem;
}

.ext__icon {
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    grid-area: icon;
    height: 8rem;
    width: 8rem;
}

.h-icon {
    background-color: #f68623;
    background-image: url(/images/honey-icon-white.svg);
    background-size: 70%;
}

.t-icon {
    background-color: #0a4730;
    background-image: url(/images/toucan-icon-256.png);
    background-size: 100%;
}

.ext__mid {
    grid-area: mid;
}

.ext__name {
    color: var(--color-text);
    font-size: 1.5rem;
    font-weight: bold;
}

.ext__quick-description {
    color: var(--color-text2);
}

.ext__rating__stars {
    color: #fc2;
}

.ext__rating__text {
    color: var(--color-text2);
}

.ext__install {
    background-color: #196de4;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    font-weight: bold;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-top: 0.5rem;
    padding: 0 1.5rem;
    text-decoration: none;
}

.ext__install:hover {
    background-color: #0e5cca;
}

.ext__learn-more {
    color: var(--color-link);
    text-decoration: none;
}

.ext__learn-more:hover {
    text-decoration: underline;
}

.ext__description {
    grid-area: desc;
    color: var(--color-text2);
}

@media (prefers-color-scheme: light) {
    .ext__install,
    .ext__install:hover {
        box-shadow: none;
    }
}

.eu {
    background-image: url('/images/bella.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 65.625rem;
    position: absolute;
    width: 20rem;
}

.eu__message {
    background-color: white;
    border: 0.25rem solid black;
    border-radius: 2rem;
    color: black;
    font-family: EngraversGothic BT, serif;
    font-size: 1.25rem;
    font-weight: bold;
    left: 100%;
    padding: 1rem;
    position: absolute;
    top: 6rem;
    white-space: nowrap;
    width: max-content;
}

.eu__message strong {
    -webkit-text-stroke: 0.05rem black;
}

.recommendations {
    margin-top: 8rem;
}

@media screen and (max-width: 72rem) {
    section {
        margin: 0 0 0 20rem;
    }
}

@media screen and (max-width: 52rem) {
    aside {
        padding: 0 1rem;
    }

    section {
        margin: 0 auto;
    }

    .eu {
        margin-top: 6rem;
        position: relative;
    }

    .eu__message {
        left: 1rem;
        top: -5.5rem;
    }
    
    .recommendations {
        margin-top: 1rem;
    }
}
