html {
    --color-bg: white;
    --color-bg2: #eee;
    --color-text: black;
    --color-text2: #555;
    --color-text3: #888;
    --color-ok-bg: #b5f7b8;
    --color-ok-text: #265a40;
    --color-ok-border: #51ec3d;
    --color-link: #0c4fcc;
    --font: Segoe UI, Helvetica Neue, Open Sans, sans-serif;
}

@media (prefers-color-scheme: dark) {
    html {
        --color-bg: #1d1f20;
        --color-bg2: #34363a;
        --color-text: #eee;
        --color-text2: #aaa;
        --color-text3: #888;
        --color-ok-bg: #2e563f;
        --color-ok-text: #57e977;
        --color-ok-border: #148657;
        --color-link: #3d96ff;
    }
}

html,
body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font);
}

body {
    margin: 1rem auto;
    max-width: 32rem;
}

.uninstalled {
    background-color: var(--color-ok-bg);
    border: 1px solid var(--color-ok-border);
    border-radius: 1rem;
    color: var(--color-ok-text);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.feedback-link {
    color: var(--color-text);
    font-weight: 700;
}

.recommendations {
    margin-top: 1rem;
}

.message {
    color: var(--color-text2);
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
}

.disclaimer {
    color: var(--color-text3);
    font-size: 0.75rem;
    text-align: center;
}

.ext {
    display: grid;
    gap: 1rem;
    grid: "icon mid" min-content
          "desc desc" auto
          / min-content auto;
    margin-top: 1rem;
}

.ext + .ext {
    border-top: 1px solid var(--color-bg2);
    padding-top: 1rem;
}

.ext__icon {
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    grid-area: icon;
    height: 8rem;
    width: 8rem;
}

.h-icon {
    background-color: #f68623;
    background-image: url(/images/honey-icon-white.svg);
    background-size: 70%;
}

.t-icon {
    background-color: #0a4730;
    background-image: url(/images/toucan-icon-256.png);
    background-size: 100%;
}

.ext__mid {
    grid-area: mid;
}

.ext__name {
    color: var(--color-text);
    font-size: 1.5rem;
    font-weight: bold;
}

.ext__quick-description {
    color: var(--color-text2);
}

.ext__rating__stars {
    color: #fc2;
}

.ext__install {
    background-color: #196de4;
    border-radius: 1.25rem;
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0), 0 0 0 #008cff;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    font-weight: bold;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-top: 0.5rem;
    padding: 0 1.5rem;
    text-decoration: none;
    transition: box-shadow 250ms, background-color 250ms;
}

.ext__install:hover {
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 1), 0 0 12px #008cff;
}

.ext__learn-more {
    color: var(--color-link);
    transition: color 250ms;
}

.ext__learn-more:hover {
    color: var(--color-text);
}

.ext__description {
    grid-area: desc;
    color: var(--color-text);
}

@media (prefers-color-scheme: light) {
    .ext__icon,
    .ext__install,
    .ext__install:hover {
        box-shadow: 0 2px 12px hsla(0, 0%, 0%, 0.5);
    }

    .ext__install:hover {
        background-color: #005de0;
    }
}
