:root {
    --color-background: #141e24;
    --color-control: #316e7d;
    --color-control-hover: #193945;
    --color-text: #53a1b3;
    --color-text-highlight: white;
    --color-accent: #e96c4c;
    --color-honey: #f68623;
}

html {
    background-color: var(--color-background);
}

body {
    color: var(--color-text);
    font-family: Open Sans, Helvetica Neue, Segoe UI, Ubuntu, sans-serif;
    max-width: 42em;
    margin: 0 auto;
    padding: 1em
}

h1,
h2 {
    color: var(--color-accent);
}

h3 {
    margin-bottom: 0;
}

a {
    color: #53a1b3;
}

a:hover {
    color: var(--color-text-highlight);
}

::selection {
    background-color: var(--color-accent);
    color: var(--color-text-highlight);
}

.banner__image {
    max-width: 32rem;
}

footer {
    font-size: 0.75rem;
    margin-top: 1rem;
}
